// Box model
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Body
body {
  margin: 0;
}

// App container
.app-container {
  background: $lighter;
  display: grid;
  min-height: 100vh;
}

// App
.app-frame {
  background: $lighter;
  box-shadow: $box-shadow;
  height: $app-height;
  margin: auto;
  overflow: auto;
  position: relative;
  width: $app-width;
}

// Page
.page {
  padding: $app-padding;
}
