// Modal dialogs
.modal-overlay {
  align-items: center;
  background: transparentize($darkest, .3);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 15px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &:not(.active) {
    display: none;
  }
}

.modal-dialog {
  background: $lightest;
  border-radius: $radius;
  max-height: calc(100vh - 30px);
  overflow-y: auto;
  padding: 15px;
  pointer-events: all;
  position: relative;

  @media (min-width: $screen-md) {
    padding: 30px;
    width: 500px;

    // Sizes
    &.sm {
      width: 300px;
    }

    &.lg {
      width: 600px;
    }
  }
}

.modal-dialog-actions {
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-left: 8px;
  }
}

.modal-dialog-title {
  padding-right: 40px;
}

// Close button
.close {
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
  color: $medium;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  position: absolute;
  right: 10px;
  text-shadow: none;
  top: 10px;
  width: 40px;

  &:hover,
  &:focus {
    background-color: transparentize($darkest, .95);
  }
}

// Disable body scroll
.has-modal {
  overflow: hidden;
  padding-right: 15px;
}
